.App {
  text-align: center;
  background-image: url(./backgroundwood.jpg);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  font-family: "Padauk", sans-serif;

  #machine {
    background-color: #292a2b;
    background-repeat: no-repeat;
    background-position: center center;
    background-image: url(./bakcground-metalizado.jpg);
    box-shadow: 5px 5px 50px rgb(32, 32, 32);
    padding: 10px;
    border-radius: 10px;

    #display {
      border: 3px solid rgb(90, 90, 90);
      background-color: black;
      padding: 10px;
      border-radius: 5px;
      color: red;
      font-family: "Orbitron", sans-serif;
    }

    #selector {
      font-size: 0.6em;
      justify-content: center;
      align-items: center;
      color: #3e3e3e;
      display: flex;
      p {
        margin: 0;
      }
    }

    .pad {
      border: 2px rgb(102, 102, 102) solid;
      border-radius: 5px;
      display: grid;
      height: 300px;
      width: 300px;
      grid-template-columns: 1fr 1fr 1fr;
      grid-template-rows: 1fr 1fr 1fr;

      .drum-pad {
        color: rgb(165, 165, 165);
        border: 2px rgb(102, 102, 102) solid;
        background-color: #1a1c1c;
      }
    }
  }
  .footer {
    display: block;
    margin: 15px auto 30px auto;
    font-weight: 300;
    color: #bababa;
    font-size: 0.7em;
    a {
      text-decoration: none;
      color: #bababa;
    }
    a:hover {
      opacity: 0.85;
    }
  }
}
